/* Ivan: aqui pondremos todos nuestros estilos, y siempre se ejecutará el último oir lo que si quereis machacar
una horden solo poden un !important */
.up-space{
    margin-top: 15px !important;
}

#banner1{
    width: 200% !important;
}
/* ESTILS DETALLS ALBARANS */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#albaraCap {
    padding: 10px 0;
    margin-bottom: 30px;
}

#project {
    float: left;
}

#project span {
    color: #5D6975;
    text-align: right;
    width: 52px;
    margin-right: 10px;
    display: inline-block;
    font-size: 0.8em;
}

#company {
    float: right;
    text-align: right;
}

#project div,
#company div {
    white-space: nowrap;        
}

#taulaDetalls table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
}

#taulaDetalls table tr:nth-child(2n-1) td {
    background: #F5F5F5;
}

#taulaDetalls table th,
#taulaDetalls table td {
    text-align: center;
}

#taulaDetalls table th {
    padding: 5px 20px;
    color: #5D6975;
    border-bottom: 1px solid #C1CED9;
    white-space: nowrap;        
    font-weight: normal;
}

#taulaDetalls table .service,
#taulaDetalls table .desc {
    text-align: left;
}

#taulaDetalls table td {
    padding: 20px;
    text-align: right;
}

#taulaDetalls table td.service,
table td.desc {
    vertical-align: top;
}

#taulaDetalls table td.unit,
#taulaDetalls table td.qty,
#taulaDetalls table td.total {
    font-size: 1.2em;
}

#taulaDetalls table td.grand {
    border-top: 1px solid #5D6975;;
}

#notices .notice {
    color: #5D6975;
    font-size: 1.2em;
}

#notices .notice {
    color: #5D6975;
    font-size: 1.2em;
    margin-bottom: 3.9em;
}

footer {
    color: #5D6975;
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    border-top: 1px solid #C1CED9;
    padding: 8px 0;
    text-align: center;
}

.panell{

}

.msgCorrecte {
    color: #6dc030;
}

.msgIncorrecte {
    color: red;
}


