.caixa {
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.background{
   
    background-repeat: no-repeat;
    background-image: url(../images/img1.jpg);
}